h1.t-jaume {
    text-shadow: 5px 5px 30px rgba(255, 255, 255, 0.2);

    background-image: url("../fons_gold.png");
    font-size: 2rem;
    line-height: 2rem;
    width: fit-content;
}

h1.t-luis {
    text-shadow: 5px 5px 30px rgba(83, 47, 0, 0.5);

    background-image: url("../textures/luis.jpg");
    font-size: 2rem;
    line-height: 2rem;
    width: fit-content;
}

h1.t-toro {
    text-shadow: 5px 5px 30px rgba(83, 47, 0, 0.5);

    background-image: url("../textures/toro.jpg");
    font-size: 2rem;
    line-height: 2rem;
    width: fit-content;
}
h1.t-1492 {
    text-shadow: 5px 5px 30px rgba(216, 192, 82, 0.3);

    background-image: url("../wave.png");
    font-size: 2rem;
    line-height: 2rem;
    width: fit-content;
}

h1.t-mediterraneo {
    text-shadow: 5px 5px 30px rgba(216, 192, 82, 0.3);

    background-image: url("../wave.png");
    font-size: 2rem;
    line-height: 2rem;
    width: fit-content;
}

/* Container with a triangle clip-path */
.container-transicio {
    position: relative;
    min-width: 15vh;
    min-height: 15vh;
    
}

.container-transicio.debug {
    min-height: 500px;
    min-width: 500px; 
    background-image: 
        linear-gradient(to right, rgba(255, 255, 255, 0.2) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
    background-size: 10% 10%;
}

#coordinates {
    color: var(--silver);
}
#toggleButton {
    background: linear-gradient(45deg, #2C4263, #567BB3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    padding: 0.5rem;
    border: none;
}

.triangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: clip-path 0.8s ease;
}


.container-transicio.t-1492 .triangle.t1 {
    background-color: #B9C8DF;
}
.container-transicio.t-1492 .triangle.t2 {
    background-color: #E3E9F3;
}
.container-transicio.t-1492 .triangle.t3 {
    background-color: #567BB3;
}
.container-transicio.t-1492 .triangle.t4 {
    background-color: #2C4263;
}

/* .primera State */
.container-transicio.t-1492.primera .triangle.t1 {
    clip-path: polygon(20% 70%, 20% 70%, 45% 65%, 45% 35%);
}

.container-transicio.t-1492.primera .triangle.t2 {
    clip-path: polygon(50% 65%, 75% 60%, 50% 20%, 50% 65%);
}

.container-transicio.t-1492.primera .triangle.t3 {
    clip-path: polygon(10% 75%, 20% 90%, 70% 90%, 10% 75%);
}

.container-transicio.t-1492.primera .triangle.t4 {
    clip-path: polygon(10% 75%, 70% 90%, 80% 70%, 10% 75%);
}

/* .segona State */
.container-transicio.t-1492.segona .triangle.t1 {
    clip-path: polygon(35% 65%, 45% 75%, 80% 40%, 80% 20%);
}

.container-transicio.t-1492.segona .triangle.t2 {
    clip-path: polygon(25% 55%, 35% 65%, 80% 20%, 60% 20%);
}

.container-transicio.t-1492.segona .triangle.t3 {

    clip-path: polygon(10% 80%, 20% 90%, 30% 80%, 20% 70%);
}

.container-transicio.t-1492.segona .triangle.t4 {
    clip-path: polygon(10% 60%, 20% 50%, 50% 80%, 40% 90%);
}



.p-1492 .colored {
    background-image: url("../wave.png");
    background-size: cover 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    font-weight: bold;
} 