/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Fuentes personalizadas */
@font-face {
  font-family: "MyFont";
  src: url("Cristone.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Variables CSS */
:root {
  --black-dark: #000000;
  --silver: #c0c0c0;
  --silver-half: rgba(192, 192, 192, 0.5);
  --altura-header: 40vh;
  --padding-1: 30px;
  font-size: clamp(1.5rem, 2.5vw); /* Controlled scaling */
}

@media (min-width: 1024px) {
  :root {
      --padding-1: 15vw;
  }
}

/* Estilos para html y body */
html,
body {
  font-family: "Schibsted Grotesk", sans-serif;
  background: var(--black-dark);
  height: 100%;
  margin: 0; /* Removed auto */
  padding: 0; /* Removed auto */
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

/* Wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100%;
  margin: 0; /* Removed auto */
  padding: 0; /* Removed auto */
  position: relative;
}

/* Estilos para .pagina */
.pagina {
  display: flex;
  position: fixed; /* Changed from absolute to fixed */
  top: 0;
  left: 0; /* Ensure the element starts from the left */
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 100px;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-sizing: border-box;
  z-index: 0;
  opacity: 0;
  overflow-x: hidden; /* Explicitly hide horizontal overflow */
  overflow-y: scroll; /* Enable vertical scrolling */
  will-change: opacity; /* Hint for performance */
}

.pagina > * {
  margin: 0 var(--padding-1);
}

/* Visible page styles */
.pagina.visible {
  z-index: 10;
  opacity: 1;
  transform: translateX(0); /* Slide into view */
}

/* Estilos para .mini-book-page */
.mini-book-page {
  position: relative;
  margin: 0 var(--padding-1);
  width: min(80%, 400px);
  height: auto;
  object-fit: cover;
  opacity: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Otros estilos generales */
.separator {
  min-height: 1px;
  width: 80%;
  margin: 1vh 0;
}

.plain-text {
  font-weight: 700;
  text-align: justify;
}

.centered {
  text-align: center;
}

.special {
  font-weight: 900;
  padding: 0.2rem 0.4rem;
}

.deslizad {
  padding: 10px;
  animation: deslizando 2s ease infinite;
}

@keyframes deslizando {
  0%,
  100% {
      transform: translateX(-5px);
  }
  75% {
      transform: translateX(5px);
  }
}

.flechas {
  padding: 10px;
  animation: flecheando 2s ease infinite;
}

@keyframes flecheando {
  0%,
  100% {
      transform: scale(1);
  }
  25% {
      transform: scale(1.2);
  }
}

.link-icon-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.link-icon {
  font-size: 2rem;
  transition: transform 0.7s ease;
}

.link-icon:hover {
  transform: scale(1.2);
}

.multimedia {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-top: 1rem;
  padding-bottom: 3rem;
  gap: 1rem;
  width: 100%;
  align-items: center;
}
