@font-face {
    font-family: "MyFont"; /* Choose a name for your font family */
    src: url("Cristone.ttf") format("truetype"); /* Path to your TTF file */
    font-weight: normal; /* Optional: Define font weights */
    font-style: normal; /* Optional: Define font styles */
}

html,
body {
    display: flex;
    flex-direction: column;
    font-family: 'Libre Baskerville', "Schibsted Grotesk", sans-serif;
    background-color: var(--black-dark);
    border: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll; /* Hide default llbars */
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    align-items: center;
    user-select: none;

    touch-action: pan-x pan-y; /* Permite un solo desplazamiento a la vez */

    transition: background-color 1s ease;
}

body::-webkit-scrollbar {
    display: none;
}

:root {
    --black-dark-dark: #000306;
    --black-dark: #000a14;
    --black: #001021;
    --bronze: #665d47;
    --silver: #c0c0c0;
    --gold: #ebe11fb4;
    --red: #ff0000;
    --silver-half: #c0c0c081;
    --silver-25: #c0c0c033;
    --silver-5: #c0c0c010;

    --white: #ffffff;

    --altura-header: 40vh;

    font-size: min(3vh, 6vw); /* Responsive font size */

    --padding-1: 30px;
}

@media (min-width: 1024px) {
    :root {
        --padding-1: 15vw;
    }
}

.llibre {
    width: 100%;

    position: relative;
    display: flex;
    flex-direction: row;

    overflow: hidden;

    white-space: nowrap;
    padding: 0;
    margin: 0;
    border: none;

    -webkit-transition: background-image 2s ease-in-out;
    transition: background-image 2s ease-in-out;
}

/* Main styles for .pagina */
.pagina {
    position: absolute; /* Keeps it fixed relative to the containing block */
    top: 0;
    left: 0;
    height: fit-content;
    width: 100%; /* Full width */
    padding: 0;
    padding-bottom: 10vh;

    gap: 1rem;
    overflow-y: hidden; /* Enable vertical scrolling */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    box-sizing: border-box; /* Include padding in width/height calculations */
    z-index: 1;
    flex-shrink: 0; /* Prevent shrinking */
    scroll-behavior: smooth;
    opacity: 0;
    background: none;
    /* Hide scrollbar in WebKit-based browsers */
    scrollbar-width: none; /* Hide scrollbar in Firefox */
    -ms-overflow-style: none; /* Hide scrollbar in Internet Explorer and Edge */
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: opacity 0.7s ease;

    touch-action: pan-x pan-y; /* Permite un solo desplazamiento a la vez */
    display: none;
}
.pagina.visible {
    opacity: 1;
    display: flex;
}

.fondo {
    position: absolute;

    height: 100%;
    max-height: 0;
    width: 100%;

    opacity: 1;

    transition: max-height 0.7s ease, opacity 0.7s ease;
}
.fondo.top {
    top: 0;
}
.fondo.bottom {
    bottom: 0;
}
.fondo.visible {
    opacity: 1;
    max-height: 100%;
}

.fondo.f0 {
    background: linear-gradient(
        45deg,
        var(--charcoal-bistre-dark),
        var(--charcoal-bistre)
    );
}
.fondo.f1 {
    background: linear-gradient(
        to bottom right,
        var(--moss-green-dark),
        var(--moss-green)
    );
}
.fondo.f2 {
    background: linear-gradient(
        to bottom left,
        var(--warm-tan-dark),
        var(--warm-tan)
    );
}
.fondo.f3 {
    background: linear-gradient(
        to bottom right,
        var(--charcoal-bistre-dark),
        var(--charcoal-bistre)
    );
}
.fondo.f4 {
    background: linear-gradient(
        to bottom left,
        var(--english-violet-dark),
        var(--english-violet)
    );
}
.fondo.f5 {
    background: linear-gradient(
        to bottom right,
        var(--soft-cerulean-dark),
        var(--soft-cerulean)
    );
}
.fondo.f6 {
    background: linear-gradient(
        to bottom left,
        var(--sunset-dark),
        var(--sunset)
    );
}
.fondo.f7 {
    background: linear-gradient(
        to bottom right,
        var(--persian-orange-dark),
        var(--persian-orange)
    );
}
.fondo.f8 {
    background: linear-gradient(
        to bottom left,
        var(--moss-green-dark),
        var(--moss-green)
    );
}

* {
    user-select: none; /* Standard syntax */
}

/* Base styles for header */
.header {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 4vh 2vw;
    width: 100vw; /* Full width */
    grid-template-columns: 15vw 70vw 15vw;
    align-items: center;
    background: transparent; /* Ensure background contrast */
    z-index: 10; /* Ensure it is above other content */
    box-sizing: border-box; /* Include padding in width/height calculations */

    transition: height 1s ease, transform 1s ease;
    opacity: 0;
    filter: blur(10px);

    justify-content: space-evenly;

    height: var(--altura-header);

    perspective: 1000px;
    transform-style: preserve-3d;
}

/* Position and style the sliding invitation icon */
#slide-invite {
    position: absolute;
    top: 50%;
    left: 50%; /* Adjust based on mini-book width */
    transform: translate(-50%, -50%);
    font-size: 1.5rem; /* Adjust size as needed */
    color: white; /* Color of the icon */
    opacity: 0;
    z-index: 20; /* Ensure it appears above other elements */
    animation: slideInvite 1.5s infinite ease-in; /* Sliding animation */
    transition: opacity 1s ease;
    pointer-events: none; /* Prevent interactions with the icon */
    background: none;
}

/* Sliding animation */
@keyframes slideInvite {
    0%,
    100% {
        transform: translate(-50%, -50%) translateX(100%) translateY(-5%);
    }
    50% {
        transform: translate(-50%, -50%) translateX(-100%) translateY(5%);
    }
}

/* Max-zoomed state */
.header.max-zoomed {
    --altura-header: 100vh; /* Height when max-zoomed */
}

.header.visible {
    opacity: 1;
    filter: blur(0);
}

.mini-book {
    height: min(60vw, calc(var(--altura-header) - 4vh), 60vh);
    width: min(60vw, calc(var(--altura-header) - 4vh), 60vh);

    box-sizing: border-box;

    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.6); /* Add shadow */

    position: relative; /* Establishes positioning context for child elements */

    transform-origin: center; /* Center rotation */

    transition: height 1s ease, width 1s ease, transform 1s ease; /* Smooth transition for the mini book */

    z-index: 11;

    align-self: center;

    transform-style: preserve-3d;
}

.header.max-zoomed .mini-book {
    transform: rotateX(20deg) rotateZ(-10deg) rotateY(10deg);
}

/* Ensure images are correctly positioned */
.mini-book-page {
    position: absolute; /* Position relative to .mini-book */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Full size of the mini book */
    object-fit: cover; /* Ensure the image covers the area */
    backface-visibility: hidden; /* Hide back face during rotation */
    transform-origin: left;
    z-index: 12;
    transform: rotateY(-120deg);
    opacity: 0;

    border-radius: 5%;
    border: 2px solid var(--tan);

    transform-style: preserve-3d;
}
.mini-book-page.cover {
    border-color: var(--licorice);
}

.scroll-button {
    height: min(10vh, 10vw);
    width: min(10vh, 10vw);
    font-size: 1rem;
    background-color: transparent;
    color: var(--silver-half);
    border-radius: 50%;
    border: none;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.8s ease, color 0.8s ease;
}

.scroll-button:hover {
    color: var(--silver);
}

.scroll-top {
    position: absolute;
    right: auto;
    bottom: 0.5rem;
    font-size: 1.5rem;
    background: none;
    color: var(--silver-half);
    opacity: 0;
    transition: opacity 0.8s ease;
    z-index: 1;
    border: none;
    animation: bounce 2.5s infinite;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(-15px);
    }
}

.scroll-top.appear {
    opacity: 1;
}
.header.max-zoomed .scroll-button,
#scroll-left {
    animation: slide1 3s infinite;
}

@keyframes slide1 {
    0%,
    100% {
        transform: translateX(10%);
    }
    50% {
        transform: translateX(-10%);
    }
}

#scroll-right {
    animation: slide2 3s infinite;
}

@keyframes slide2 {
    0%,
    100% {
        transform: translateX(-10%);
    }
    50% {
        transform: translateX(10%);
    }
}

#loading-progress-bar {
    position: fixed;
    top: 50%;
    width: 50vw;
    background-color: #4caf50;
    text-align: center;
    color: white;
    line-height: 30px; /* Centra el texto verticalmente */
}

.separator {
    min-height: 1px;
    width: 80%;
    background-color: var(--silver-half);
    margin: 1vh 0;
}
