/* Reset básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Fuentes personalizadas */
  @font-face {
    font-family: "MyFont";
    src: url("Cristone.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  /* Variables CSS */
  :root {
    --black-dark: #000000;
    --silver: #C0C0C0;
    --silver-half: rgba(192, 192, 192, 0.5);
    --altura-header: 40vh;
    --padding-1: 30px;
    font-size: min(2rem, 4vw);
  }
  
  @media (min-width: 1024px) {
    :root {
      --padding-1: 15vw;
    }
  }
  
  /* Estilos para html y body */
  html,
  body {
    font-family: "Schibsted Grotesk", sans-serif;
    background: var(--black);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    height: auto;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  
  body::-webkit-scrollbar {
    display: none;
  }
  
  /* Estilos para .llibre */
  .llibre {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    overflow: visible;
    padding: 0;
    margin: 0;
    transition: background-image 2s ease-in-out;
  }
  
  /* Estilos para .pagina */
  .pagina {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: calc(var(--altura-header));
    padding-bottom: 40px;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-sizing: border-box;
    z-index: 1;
    opacity: 0;
    overflow: visible;
    transition: opacity 1s ease;
    animation: desapareixer 1s ease forwards;
  }
  .pagina > * {
    margin: 0 var(--padding-1);
  }
  .pagina > * {
    animation: desapareixer-elements 1s ease forwards;
  }
  
  .pagina.visible {
    display: flex;
    animation: apareixer 1s ease forwards;
  }
  
  .pagina.visible > * {
    animation: apareixer-elements 1s ease forwards;
  }
  
  @keyframes apareixer-blur {
    from {
      filter: blur(20px);
    }
    to {
        filter: blur(0);
    }
  }
  
  
  /* Keyframes para animaciones */
  @keyframes apareixer {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes apareixer-elements {
    from {
      filter: blur(20px);
    }
    to {
      filter: blur(0);
    }
  }
  
  @keyframes desapareixer {
    from {
      display: flex;
      opacity: 1;
    }
    to {
      opacity: 0;
      display: none;
    }
  }
  
  @keyframes desapareixer-elements {
    from {
      filter: blur(0);
    }
    to {
      filter: blur(20px);
    }
  }
  
  /* Estilos para .header */
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0 2vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: transparent;
    z-index: 80;
    box-sizing: border-box;
    transition: height 1s ease, transform 1s ease;
    height: var(--altura-header);
    perspective: 1500px;
    overflow: visible;
  }
  
  /* Estilos para .mini-book */
  .mini-book {
    position: relative;
    height: min(60vw, var(--altura-header) - 4vh, 60vh);
    width: min(60vw, var(--altura-header) - 4vh, 60vh);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform-origin: center;
    transition: height 1s ease, width 1s ease, transform 1s ease;
    z-index: 500;
    align-self: center;
    overflow: visible;
    transform-style: preserve-3d;
  }
  
  /* Estilos para .mini-book-page */
  .mini-book-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-origin: left;
    opacity: 1;
    backface-visibility: hidden;
    animation: entrada-img 1s ease forwards;
  }
  
  .mini-book-page.pasada {
    animation: sortida-img 1s ease forwards;
  }
  
  /* Keyframes para .mini-book-page */
  @keyframes entrada-img {
    from {
      transform: rotateY(-140deg);
    }
    to {
      transform: rotateY(0deg);
    }
  }
  
  @keyframes sortida-img {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-120deg);
    }
  }
  
  /* Estilos para botones de scroll */
  .scroll-button {
    height: min(10vh, 10vw);
    width: min(10vh, 10vw);
    font-size: 1rem;
    background-color: transparent;
    color: var(--silver-half);
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.8s ease, color 0.8s ease;
  }
  
  .scroll-button:hover {
    color: var(--silver);
  }
  
  .scroll-top.appear {
    opacity: 1;
  }
  
  .header.max-zoomed .scroll-button,
  #scroll-left {
    animation: slide1 3s infinite;
  }
  
  #scroll-right {
    animation: slide2 3s infinite;
  }
  
  @keyframes slide1 {
    0%,
    100% {
      transform: translateX(10%);
    }
    50% {
      transform: translateX(-10%);
    }
  }
  
  @keyframes slide2 {
    0%,
    100% {
      transform: translateX(-10%);
    }
    50% {
      transform: translateX(10%);
    }
  }
  
  /* Estilos para la página de carga */
  .loading-page {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(
      to bottom,
        var(--black),
        var(--black-dark)
    );
    z-index: 1000;
    pointer-events: none;
  }
  .loading-page img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: auto;
  }
  .loading-page.loaded {
    animation: iniciar-blur 1s ease forwards;
  }
  
  @keyframes inicar-blur {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes iniciar-clip {
    from {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    to {
      clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
      display: none;
    }
  }
  
  .loading-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10001;
  }
  
  .loading-page-title,
  .loading-page-text {
    font-size: 10rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    background-image: linear-gradient(
      to bottom right,
      var(--charcoal-bistre),
      var(--sunset),
      var(--deep-rosewood)
    );
    background-clip: text;
    color: transparent;
    
    font-weight: 900;
    text-align: center;
  }
  
  
  .loading-page.loaded .loading-page-text {
    animation: none;
  }
  
  @keyframes color-canviant {
    0%,
    100% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
  }
  
  /* Otros estilos generales */
  .separator {
    min-height: 1px;
    width: 80%;
    margin: 1vh 0;
  }
  
  .plain-text {
    font-weight: 700;
    text-align: justify;
  }
  
  .centered {
    text-align: center;
  }
  
  .special {
    font-weight: 900;
    padding: 0.2rem 0.4rem;
  }
  
  .deslizad {
    padding: 10px;
    animation: deslizando 2s ease infinite;
  }
  
  @keyframes deslizando {
    0%,
    100% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
  }
  
  .link-icon-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  
  .link-icon {
    font-size: 2rem;
    transition: transform 0.7s ease;
  }
  
  .link-icon:hover {
    transform: scale(1.2);
  }
  
  .multimedia {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 3rem;
    gap: 1rem;
    width: 100%;
    align-items: center;

  }
  