:root {
    --tan: #dfbd91ff;
    --tan-half: rgba(223, 189, 145, 0.5);
    --van-dyke: #3d302cff;
    --rosewood: #67090dff;
    --sunset: #f0cfa4ff;
    --bistre: #302722ff;
    --bronze: #c38944ff;

    --drab-dark-brown: #424521ff;

    --persian-orange: #DF7F49ff;
    --cerulean: #1C7A93ff;
    --ash-gray: #CED8CCff;
}
