:root {
    --tan: #dfbd91ff;
    --tan-half: rgba(223, 189, 145, 0.5);
    --van-dyke: #3d302cff;
    --rosewood: #67090dff;
    --sunset: #f0cfa4ff;
    --bistre: #302722ff;
    --bronze: #c38944ff;

    --drab-dark-brown: #424521ff;

    --persian-orange: #df7f49ff;
    --cerulean: #1c7a93ff;
    --ash-gray: #ced8ccff;

    --violet-jtc: #522b55ff;

    --chinese-violet: #7c657eff;
}
