.pagina.toro .colored {
    background: radial-gradient(
        circle,
        var(--rosewood),
        var(--bronze)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    animation: glow 3s infinite;
    transition: text-shadow 3s ease;
}

@keyframes glow {
    0%, 100% {
        text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    }
    50% {
        text-shadow: 0 0 1px rgba(255, 255, 255, 0);
    }
}

.pagina.toro .listenonspotify {
    position: relative;
    border: none;
    background: var(--black-dark);
    box-shadow: none;
}

.pagina.toro .listenonspotify::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: conic-gradient(
        var(--tan),
        var(--bronze),
        var(--rosewood),
        var(--tan)
    );
    border-radius: inherit;
    border: none;
    margin: -2px;
    z-index: -1;
}

.pagina.toro .separator {
    background: linear-gradient(
        to right,
        var(--rosewood),
        var(--tan),
        var(--bronze)
    );
}
