.pagina.jaume .colored {
    color: var(--deep-rosewood);
    font-weight: bold;
}

.pagina.jaume .listenonspotify {
    position: relative;
    border: none;
    background: var(--deep-rosewood);
    box-shadow: none;
}

.pagina.jaume .listenonspotify::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: conic-gradient(
        var(--tan),
        var(--drab-dark-brown),
        var(--rosewood),
        var(--tan)
    );
    border-radius: inherit;
    border: none;
    margin: -2px;
    z-index: -1;
}

.pagina.jaume .separator {
    background: linear-gradient(
        to right,
        var(--rosewood),
        var(--tan),
        var(--drab-dark-brown)
    );
}

.pagina.jaume p {

    text-shadow: 0 0 1px var(--moss-green-dark);
    color: var(--silver);

}

p {
    opacity: 0;
}
p.from-left.on-screen {
    animation: enter-left 1s forwards 0.7s;
}

@keyframes enter-left {
    from {
        transform: translateX(-100%);
        transition: transform 1s ease;
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

p.from-right.on-screen {
    animation: enter-right 1s forwards 0.7s;
}

@keyframes enter-right {
    from {
        transform: translateX(100%);
        transition: transform 1s ease;
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}