.pagina.luis .colored {
    font-weight: bold;
}

.pagina.luis p {
    color: var(--brown);
}


.pagina.luis .listenonspotify {
    position: relative;
    border: none;
    background: var(--black-dark);
    box-shadow: none;
}

.pagina.luis .listenonspotify::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: conic-gradient(
        var(--tan),
        var(--bronze),
        var(--rosewood),
        var(--tan)
    );
    border-radius: inherit;
    border: none;
    margin: -2px;
    z-index: -1;
}

.pagina.luis .separator {
    background: linear-gradient(
        to right,
        var(--rosewood),
        var(--tan),
        var(--bronze)
    );
}
