.pagina.mediterraneo .colored {
    background: linear-gradient(
        to right,
        var(--cerulean),
        var(--ash-gray),
        var(--persian-orange)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.pagina.mediterraneo .listenonspotify {
    position: relative;
    border: none;
    background: var(--black-dark);
    box-shadow: none;
}

.pagina.mediterraneo .listenonspotify::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: conic-gradient(
        var(--tan),
        var(--cerulean),
        var(--persian-orange),
        var(--tan)
    );
    border-radius: inherit;
    border: none;
    margin: -2px;
    z-index: -1;
}

.pagina.mediterraneo .separator {
    background: linear-gradient(
        to right,
        var(--cerulean),
        var(--persian-orange)
    );
}
