

/* General styling for the scroll indicator */
.scroll-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    padding: 10px 20px;
    border-radius: 0.5em;
    width: fit-content;

    animation: move 2s infinite; /* Pulse animation for the entire indicator */

    cursor: pointer; /* Indicate that the element is interactive */
}

/* Text styling */
.scroll-text {
    font-size: 1em;
    margin-right: 1em; /* Space between text and icon */
    color: var(--silver-half);
    overflow-wrap: break-word;
    white-space: normal;
    word-wrap: break-word;
}

/* Icon styling */
.scroll-icon {
    font-size: 2em;
    color: var(--silver-half); /* Adjust to match your design */
}

/* Pulse animation for the entire indicator */
@keyframes move {
    0%,
    100% {
        transform: translateX(-5%);
    }
    50% {
        transform: translateX(5%);
    }
}