.pagina.jaume .colored {
    background: linear-gradient(
        to bottom left,
        var(--drab-dark-brown),
        var(--tan),
        var(--rosewood)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.pagina.jaume .listenonspotify {
    position: relative;
    border: none;
    background: var(--black-dark);
    box-shadow: none;
}

.pagina.jaume .listenonspotify::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: conic-gradient(
        var(--tan),
        var(--drab-dark-brown),
        var(--rosewood),
        var(--tan)
    );
    border-radius: inherit;
    border: none;
    margin: -2px;
    z-index: -1;
}

.pagina.jaume .separator {
    background: linear-gradient(
        to right,
        var(--rosewood),
        var(--tan),
        var(--drab-dark-brown)
    );
}
