.pagina.toro .colored {

    color: var(--caput-mortuum);
    font-weight: bold;
}

.pagina.toro p {
    color: var(--copper);
}

.pagina.toro .listenonspotify {
    position: relative;
    border: none;
    background: var(--black-dark);
    box-shadow: none;
}

.pagina.toro .listenonspotify::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: conic-gradient(
        var(--tan),
        var(--bronze),
        var(--rosewood),
        var(--tan)
    );
    border-radius: inherit;
    border: none;
    margin: -2px;
    z-index: -1;
}

.pagina.toro .separator {
    background: linear-gradient(
        to right,
        var(--rosewood),
        var(--tan),
        var(--bronze)
    );
}
