.pagina.jaume {
    opacity: 0;
    transition: opacity 3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: start; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    text-align: center; /* Center-align text */
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    overflow: hidden; /* Hide overflow */
    background: linear-gradient(to right, 20% transparent, #1DB95410, 80% transparent);
}

.pagina.jaume h1 {
    background: radial-gradient(ellipse at top, #ffe44cb4, var(--bronze), var(--silver));   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    margin: 0;
    padding: 0.5em 0; /* Add vertical padding for spacing */
    border-bottom: 1px solid var(--bronze);
    max-width: 80%; /* Adjusted for better alignment */
    font-size: 8vw; /* Responsive font size */
    word-wrap: break-word; /* Break long words */
    overflow-wrap: break-word; /* Break long words (modern standard) */
    white-space: normal; /* Ensure text wraps normally */
}

.pagina.jaume p {
    font-family:  sans-serif;
    color: white;
    margin: 0.5em 0; /* Add vertical margin for spacing */
    max-width: 80%; /* Adjusted for better alignment */
    word-wrap: break-word; /* Break long words */
    overflow-wrap: break-word; /* Break long words (modern standard) */
    white-space: normal; /* Ensure text wraps normally */
}

/* Adjust styling for the "see more" button */
.see-more-button {
    background-color: #1DB954; /* Spotify green or any color you prefer */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Dosis', sans-serif; /* Adjust font as needed */
    margin-top: 1em; /* Space above the button */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.see-more-button:hover {
    background-color: #1a8f4d; /* Darker green on hover */
    color: #fff;
}

.pagina.jaume.visible {
    opacity: 1;
}