/* Define gradient backgrounds */


.pagina.portada.visible {
    opacity: 1;
}

.pagina.portada .miquel {
    background: radial-gradient(ellipse at bottom, #ffe44cb4, var(--bronze), var(--silver));   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    transform: translateY(-100%);
    text-align: center;

    font-weight: 100;
}

.pagina.portada .hero {
    background: radial-gradient(ellipse at top, #ffe44cb4, var(--bronze), var(--silver));   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    transform: translateY(-100%);
    text-align: center;

    font-weight: 100;
}

.pagina.portada.visible .miquel {
    transform: translateY(0);
    opacity: 1; /* Visible state */
    filter: blur(0);
    
}

.pagina.portada.visible .hero {
    transform: translateY(0);
    opacity: 0.8; /* Visible state */
    filter: blur(0);
}
.pagina.portada.visible .footer {
    opacity: 1;
}

@keyframes scroll-right {
    0% {
        transform: translateX(-5vw);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-5vw);
    }
}
/* Container for media links */
.links-media {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    gap: 5vh; /* Space between buttons */
    align-items: center;
    flex-wrap: wrap; /* Allows buttons to wrap vertically if needed */
}

/* Button styling */
.spotify-button {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    background-color: transparent;
    color: white;
    border: 1px solid #1DB954;
    border-radius: 0.5em;
    cursor: pointer;
    font-family: 'Dosis', sans-serif;
    transition: background-color 0.3s, color 0.3s;
    text-align: left;
    gap: 1em;
    width: fit-content;
    height: 60px;
    position: relative;
}

/* Icon styling */
.spotify-icon {
    font-size: 2.5em;
    color: #1DB954;
}

/* Text styling */
.text {
    display: flex;
    flex-direction: column; /* Stack text vertically */
    font-size: 1em;
}

/* Text styling for "Listen on" */
.listen-on {
    font-size: 0.8em;
}

/* Text styling for "Spotify" */
.spotify-text {
    font-weight: bold;
    font-size: 1em;
}

/* Add the pseudo-element for the fill effect */
.spotify-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1DB954;
    border-radius: 0.5em;
    border: 1px solid transparent;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
    z-index: -1;
}

/* Hover effect */
.spotify-button:hover::before {
    transform: scaleX(1);
}

.spotify-button:hover {
    color: #000;
    border-color: #1DB954;
    .spotify-icon {
        color: white;
    }
}







/* Button styling */
.youtube-button {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    background-color: transparent;
    color: white;
    border: 1px solid #FF0000;
    border-radius: 0.5em;
    cursor: pointer;
    font-family: 'Dosis', sans-serif;
    transition: background-color 0.3s, color 0.3s;
    text-align: left;
    gap: 1em;
    width: fit-content;
    height: 60px;
    position: relative;
}

/* Icon styling */
.youtube-icon {
    font-size: 2.5em;
    color: #FF0000;
}

/* Text styling */
.text {
    display: flex;
    flex-direction: column; /* Stack text vertically */
    font-size: 1em;
}

/* Text styling for "Listen on" */
.listen-on {
    font-size: 0.8em;
}

/* Text styling for "Spotify" */
.youtube-text {
    font-weight: bold;
    font-size: 1em;
}

/* Add the pseudo-element for the fill effect */
.youtube-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FF0000;
    border-radius: 0.5em;
    border: 1px solid transparent;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
    z-index: -1;
}

/* Hover effect */
.youtube-button:hover::before {
    transform: scaleX(1);
}

.youtube-button:hover {
    color: #000;
    border-color: #FF0000;

    .youtube-icon {
        color: white;
    }
}

/* Media Query for smaller screens */
@media (max-width: 600px) {
    .links-media {
        flex-direction: column; /* Stack buttons vertically */
        gap: 2vh; /* Adjust spacing */
    }
}
