---
---

@import "{{ site.theme }}";

.main-content blockquote {
    padding: 10px 10px 10px 10px;
    margin-left: 0px;
    border-left: 0.2rem solid #15995794;
    border-bottom: 0.2rem solid #15995794 dashed;
    background: #1599571a;
}