---
---
@import "{{ site.theme }}";

:root {
    --color-primary: #159957;
    --color-secondary: #155799;
    --color-dark: #12171a;
    --color-light: #fefffed0;
}

/* Common styles for both themes */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header a {
    text-decoration: none;
    color: var(--color-dark);
}

blockquote {
    background: var(--color-primary + '1a');
    border-color: var(--color-primary + '94');
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    color: var(--color-primary);
}

a {
    text-decoration: underline;
    color: var(--color-primary);
    transition: color 0.3s ease-in-out;

    &:hover {
        color: var(--color-secondary);
    }
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

/* Dark theme */
.dark {
    --bg-color: var(--color-dark);
    --text-color: var(--color-light);
    --header-color: var(--color-dark);
    --code-bg: #8d8d8d; /* Darker background for code */
}

.dark .header h1, .dark .header p{
    color: var(--header-color);
}

.dark a {
    color: var(--color-primary);

    &:hover {
        color: var(--color-secondary);
    }
}

.dark code {
    background-color: var(--bg-color);
    color: var(--color-light);
}

/* Light theme */
.light {
    --bg-color: var(--color-light);
    --text-color: var(--color-dark);
    --header-color: var(--color-light);
    --code-bg: #969696; /* Lighter background for code */
}

.light .header h1, .light .header p{
    color: var(--header-color);
}

.light a {
    color: var(--color-primary);

    &:hover {
        color: var(--color-secondary);
    }
}

.light code {
    background-color: var(--code-bg);
    color: var(--color-dark);
}

/* Theme switcher */
.light, .dark {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
