---
---
@import "{{ site.theme }}";

$color-primary: #159957;
$color-secondary: #155799;
$color-dark: #12171a;
$color-light: #FEFFFE;

.dark {

    .header a {
        color: $color-dark;
        text-decoration: none;
    }

    .header p {
        color: $color-dark;
    }

    background-color: $color-dark;
    color: $color-light;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;


    blockquote {
        background: #1599571a;
        border-color: #15995794;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $color-primary;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    p {
        color: $color-light;
        margin-bottom: 1rem;
    }

    a {
        color: $color-light;
        text-decoration: underline;

        &:hover {
            color: #159957;
        }
    }

    strong {
        font-weight: bold;
    }

    em {
        font-style: italic;
    }

    code {
        background-color: $color-light;
        color: $color-dark;
        padding: 2px 4px;
        font-family: monospace;
    }

    pre {
        background-color: $color-light;
        color: $color-dark;
        padding: 10px;
        font-family: monospace;
        overflow: auto;
    }
}

.light {
    .header a{
        color: $color-light;
        text-decoration: none;
    }

    .header p {
        color: $color-light;
    }

    background-color: $color-light;
    color: $color-dark;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    blockquote {
        background: #1599571a;
        border-color: #15995794;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $color-primary;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    p {
        color: $color-dark;
        margin-bottom: 1rem;
    }

    a {
        color: $color-dark;
        text-decoration: underline;

        &:hover {
            color: #159957;
        }
    }

    strong {
        font-weight: bold;
    }

    em {
        font-style: italic;
    }

    code {
        background-color: $color-light;
        color: $color-dark;
        padding: 2px 4px;
        font-family: monospace;
    }

    pre {
        background-color: $color-light;
        color: $color-dark;
        padding: 10px;
        font-family: monospace;
        overflow: auto;
    }
}