@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

:root {
    --background-color: #f2f2f2;
    --text-color: #333;
    --header-background-color: #f2f2f2;
    --header-border-color: #ddd;
    --sidebar-background-color: #f2f2f2;
    --sidebar-text-color: #333;
    --main-content-background-color: #fff;
    --link-color: #3498db;
    --link-hover-color: #2980b9;
    --code-background-color: #f8f8f8;
    --code-text-color: #333;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.page-header {
    top: 0;
    height: 60px;
    background-color: var(--header-background-color);
    border-bottom: 1px solid var(--header-border-color);
    color: var(--text-color);
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.page-header h1 {
    margin: 0;
    font-size: 1.5em;
    font-weight: 700;
}

.page-header-left {
    display: flex;
    align-items: center;
}

.page-header-right {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.container {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 60px);
    box-sizing: border-box;
    top: 60px;
}

.sidebar {
    width: 300px;
    background-color: var(--sidebar-background-color);
    overflow: auto;
    color: var(--sidebar-text-color);
    padding: 20px;
    transition: width 0.3s;
    border-right: 1px solid var(--header-border-color);
}

.main-content {
    flex: 1;
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20%; /* Adjust this to your preference */
    padding-right: 20%; /* Adjust this to your preference */
    background-color: var(--main-content-background-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

#table-of-contents a {
    color: var(--text-color);
}

.sidebar-item-h1 a,
.sidebar-item-h2 a,
.sidebar-item-h3 a,
.sidebar-item-h4 a,
.sidebar-item-h5 a,
.sidebar-item-h6 a {
    margin-top: 10px;
    font-weight: 200;
    color: var(--sidebar-text-color);
    transition: color 0.3s;
}


/* Sidebar item styles */
.sidebar-item-h1 {
    padding-left: 10px;
}
.sidebar-item-h2 {
    padding-left: 20px;
}
.sidebar-item-h3{
    padding-left: 30px;
}
.sidebar-item-h4 {
    padding-left: 40px;
}
.sidebar-item-h5 {
    padding-left: 50px;
}
.sidebar-item-h6 {
    padding-left: 60px;
}

.sidebar-item-h1:hover,
.sidebar-item-h2:hover,
.sidebar-item-h3:hover,
.sidebar-item-h4:hover,
.sidebar-item-h5:hover,
.sidebar-item-h6:hover {
    color: var(--link-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color);
}

code {
    background-color: var(--code-background-color);
    color: var(--code-text-color);
    padding: 2px 4px;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

pre {
    background-color: var(--code-background-color);
    color: var(--code-text-color);
    padding: 10px;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 40px;
}